@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html,
body,
#root {
    width: 100%;
    height: 100%;
}

#root {
    background-color: var(--white);
    height: calc(100% + 10vh);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    --bold: 900;
    --radius: 8px;
    --white: rgb(241, 241, 241);
    --transition-speed: 0.4s;
}

a {
    all: unset;
    cursor: pointer;
}